.FoodItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.FoodItemName {
    width: 200px;
}

.FoodItemCount {
    width: 25px;
}

.FoodItemPrice {
    width: 100px;
}